/* *******************************************************
   Змінні
********************************************************* */
:root {
  --clr-borders: rgba(241, 232, 150, 0.915);
  --clr-accent: rgba(158, 187, 99, 0.908);
  --clr-title: rgba(240, 221, 112, 0.89);
}

/* *******************************************************
   Скидання стилів (CSS Reset)
********************************************************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html {
  background-color: black;
  background: url("./images/space_smaller.jpg") center / cover no-repeat fixed;
  color: rgb(232, 239, 228);
}

/* *******************************************************
   Основні стилі
********************************************************* */
body {
  font: 16px / 1.5 system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.6s ease;

  min-height: 100dvh; /* Ensures body takes full viewport height */
  display: flex;
  flex-direction: column; /* Stacks children vertically */
}

body.loaded {
  opacity: 1;
}

.hidden {
  display: none;
}

/* *******************************************************
   Типографіка
********************************************************* */
h1,
h2,
h3 {
  font-family: monospace;
}

h1 {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 15px 0;
  padding: 5px 10px;
  background: #eff0ed14;
  text-align: center;
}

p {
  margin: 10px 0;
  text-align: justify;
}

p.topic {
  text-align: center;
}

.accent {
  /* color: var(--clr-accent); */
  color: var(--clr-title);
  font-weight: 500;
}

.accent-2 {
  background: #eff0ed1d;
  padding: 0 6px;
  font-weight: 400;
}

a {
  color: var(--clr-title);
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
}

/* *******************************************************
   Зображення
********************************************************* */
img {
  border: 2px inset black;
  display: block;
  max-width: 100%;
}

.img-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.img-container img {
  height: 120px;
  display: inline;
  border: 2px solid var(--clr-borders);
}

img.dashed {
  border: 4px dashed lightgreen;
  width: 150px;
  height: auto;
  border-radius: 20px;
}

img.dotted {
  border: 4px dotted lightpink;
  border-radius: 50%;
}

img.double {
  border: 7px double lightcoral;
}

img.outset {
  border: 5px outset mediumslateblue;
  height: 150px;
}

/* *******************************************************
   Макет сторінки
********************************************************* */
header,
main {
  max-width: 70%;
  margin: 0 auto;
}

header {
  padding: 10px;
  color: var(--clr-title);
  background-color: rgb(15, 15, 15);
  border: 1px solid var(--clr-borders);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin-top: 20px;
}

main {
  background-color: rgba(18, 19, 18, 0.75);
  border: 1px solid var(--clr-borders);
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
}

section {
  padding: 10px 20px;
  border-bottom: 1px solid var(--clr-borders);
}

section:last-of-type {
  border-bottom: none;
}

/* *******************************************************
   Кнопки та утиліти
********************************************************* */
button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--clr-accent);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* *******************************************************
   Анімація "друкарської машинки"
********************************************************* */
.typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 3s steps(14) forwards, blink 1s 3s step-end 3,
    hide-cursor 0s 5.5s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes hide-cursor {
  to {
    border-color: transparent;
  }
}

/* *******************************************************
   Вкладки (Tabs)
********************************************************* */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(14, 14, 14);
  padding: 8px 0;
  max-width: 90%;
  margin: 0 auto;
}

.tab-btn {
  cursor: pointer;
  background: none;
  border: 1px solid var(--clr-borders);
  color: var(--clr-accent);
  padding: 8px 12px;
  border-radius: 5px;
  font-family: monospace;
  transition: 0.3s;
  flex: 1;
}

.tab-btn.homework {
  color: var(--clr-title);
}

.tab-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab-btn.active {
  background-color: var(--clr-accent);
  color: black;
  font-weight: bold;
}

.tab-btn.homework.active {
  background-color: var(--clr-title);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* *******************************************************
   Заголовки, що розкриваються (Toggle Headers)
********************************************************* */
.toggle-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 0.5em;
  padding: 10px 20px;
  margin: -10px -20px;
}

.toggle-header.active {
  background: #eff0ed1d;
  border-bottom: 2px dashed var(--clr-accent);
  margin: -10px -20px 10px -20px;
}

.toggle-header button {
  transition: transform 0.3s ease;
  color: var(--clr-title);
}

.toggle-header.active button {
  transform: rotate(90deg);
}

.content {
  display: none;
}
.toggle-header.active + .content {
  display: block;
}

/* *******************************************************
   Списки
********************************************************* */
li::marker {
  color: var(--clr-accent);
}

li {
  margin: 5px 0;
}

ul,
ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
  color: inherit;
  list-style: none;
}

.inner-list {
  list-style-type: circle;
  margin-left: 1rem;
  font-size: 15px;
}

input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: gray;
}

.progress-container {
  width: 100%;
  background: #4f524d7f;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 22px;
  border: 1px solid var(--clr-borders);
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--clr-accent);
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 22px;
  transition: width 0.3s ease;
}

ol.example {
  list-style-type: decimal;
}

ul.example {
  list-style-type: disc;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li > a {
  color: rgba(211, 211, 211, 0.35);
}

ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu > li > a {
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  display: block;

  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  margin: 15px 20px;
  padding: 8px 15px;
  background-color: rgba(15, 15, 15, 0.7);
}

ul.menu > li > a:hover {
  color: var(--clr-borders);
}

.accent-3 {
  color: #888;
  font-weight: 400;
  font-style: italic;
}

/* *******************************************************
   Section navigation
********************************************************* */

nav.section-nav {
  background-color: rgb(15, 15, 15);
  border: 1px solid var(--clr-borders);
  border-left: 5px solid var(--clr-title);
  padding: 1em 1.2em;
  margin: 1em 0 1em;
  border-radius: 0.5em;
  font-size: 0.95rem;
  color: white;
}

.section-nav .nav-title {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0;
  text-decoration: underline;
}

.section-nav ul {
  margin: 0;
  padding: 0;

  flex-direction: column;
}

.section-nav li {
  margin: 0.3em 0;
}

.section-nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.2s;
}

.section-nav a:hover {
  color: var(--clr-accent);
}

#scrollTopBtn {
  position: fixed;
  bottom: 22px;
  right: 22px;
  background-color: rgba(18, 19, 18, 0.75);
  color: var(--clr-accent);
  border: 1px solid var(--clr-borders);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgb(229, 231, 226);
  transition: opacity 0.3s, transform 0.2s;
  z-index: 999;
}

#scrollTopBtn:hover {
  transform: scale(1.2);
}

/* *******************************************************
   Адаптивність
********************************************************* */

@media (min-width: 651px) and (max-width: 850px) {
  header,
  main {
    max-width: 94%;
  }
}

@media (max-width: 650px) {
  header,
  main {
    max-width: 98%;
  }

  .tabs {
    flex-direction: column;
  }

  img {
    width: 100%;
    height: auto;
  }

  .img-container img {
    width: 90%;
    height: auto;
  }
}

.test-link {
  display: block;
  color: var(--clr-title);
  background: none;
  border: 3px outset var(--clr-borders);
  padding: 5px 20px;
  margin: 5px auto;
  width: 150px;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}
.test-link:hover {
  color: black;
  background: var(--clr-title);
  border-color: white;
}
.test-link:active {
  transform: scale(0.95);
}

hr {
  height: 0;
  padding: 0;
  margin: 25px auto;
  border: 0;
  border-top: 4px dotted var(--clr-accent);
}

.content-wrapper {
  flex-grow: 1; /* Allows the content to expand and push the footer down */
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-style: italic;
}
